NODE_ENV=development
PORT=3000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_USERNAME=
REDIS_PASSWORD=
QUEUE_PREFIX=demo
WORKER_ID=
WORKER_CONCURRENCY=5
WORKER_LIMITER_MAX=100
WORKER_LIMITER_DURATION_MS=1000
DEFAULT_JOB_ATTEMPTS=3
DEFAULT_REMOVE_ON_COMPLETE=1000
DEFAULT_REMOVE_ON_FAIL=1000
RUN_INTEGRATION_TESTS=false
TEST_REDIS_HOST=localhost
TEST_REDIS_PORT=6379
TEST_REDIS_DB=15
